@import url("./fonts.css");

*{
    margin: 0;
    padding: 0;
    color: white;
}

main{
    height: 200vh;
    background-color: #110000;
}

.background{
    background-image: linear-gradient(#00000088, #110000), url("../assets/irlanda1.png");
    background-size:cover;
    width: 100%;
    height: 600px;
}

header {
    position: absolute;
    width: 100%;

}

.header {
    position: fixed;
    justify-self: center;
    background-color: #211717;
    padding: 1rem 5rem;
    border: 1px solid #ff0000;
    border-radius: 2rem;
    margin-top: 1rem;
    z-index: 1;

    width: 25%;
    min-width: 500px;
}

.logo-cega{
    width: 100px;
}

.navbar-header ul{
    display: flex;
    align-items: center;

    justify-content: space-around;
    
    list-style: none;
}